body {
  background-color: #b783d7;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 40px 20px;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  background: rgb(7, 72, 116);
  border-radius: 20px;
  padding: 24px 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h1 {
  color: #2d3436;
  font-size: 28px;
  margin-bottom: 20px;
}

.expense-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.expense-row:last-child {
  border-bottom: none;
}

.expense-row span:first-child {
  font-weight: 600;
  color: #010f1a;
  min-width: 90px;
}

.expense-row span:nth-child(2) {
  color: #cad4d8;
  flex: 1;
}

.expense-row span:nth-child(3) {
  font-weight: bold;
  color: #e5ebec;
}

.expense-row span:last-child {
  color: #b2bec3;
  font-size: 13px;
}
h2 {
  color: #8672e0;
  font-size: 35px;
  margin-bottom: 20px;
}